[Unit]
Description=gunicorn daemon for /var/www/dmx/server/server.py
After=network.target

[Service]
User=chip
Group=www-data
WorkingDirectory=/home/chip/liveDMXcontrol
ExecStart=/home/chip/liveDMXcontrol/venv/bin/gunicorn -workers=2 --bind=unix:/var/sockets/dmx.sock server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target